<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}">

{% include head.html %}

<body>

  {% include header.html %}

  <main class="page-content landing-page" aria-label="Content">


    <div class="description">
      <div class="wrapper">
        <div class="description-text">
          <h2>Discover an augmented reality platform with Vidinoti</h2>
          <div>Learn more or contact us: <a href="https://www.vidinoti.com">https://www.vidinoti.com</a></div>
        </div>
      </div>
    </div>
    <div class="companies">
      <div class="wrapper">
        <div class="company-text">
          <h2><a href="/documentation">Open the documentation now!</a></h2>
        </div>
      </div>
    </div>

  </main>

  {% include footer.html %}
  {% include google-analytics.html %}
</body>

</html>
